@model List<Recipe>
@{
    ViewData["Title"] = "Index";
}
<div class="Container p-3">
    <div class="row pt-4">
        <h2 class="row pt-4"> Recipe</h2>

    </div>
</div>
<br />

<iframe src="" target="_blank" width="100%" height="1000" style="border:1px solid black;  frameborder=" 0"></iframe>




<a asp-controller="Recipes" asp-action="Index" class="btn btn-secondary" style="width:150px">
    Back to List
</a>